# === GENERAL ===
# IDE
.vscode/
.cursor/
.idea/

# macOS
.DS_Store

# Experiments
experiments/

# === BACKEND ===
# Security
.env
*.pem

# Python
.pytest_cache
.venv
__pycache__
*.py[cod]
.ruff_cache
