# Git
.git
.gitignore
.gitkeep

# Python
.pytest_cache
.venv
__pycache__
*.py[cod]
.ruff_cache

# IDE
.vscode
.cursor
.idea

# Env files
.env
.env.example

# CI/CD
.github

# Tests
tests

#Security
*.pem

# Docs
*.md
LICENSE

# Docker
Dockerfile
docker-compose.yml